header {
  text-align: center;
}

main {
  margin: 20px;
}

li, p {
  font-size: 20px;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid black;
  color: black;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
}


/* Task 1 */
a {
  color: brown;
  text-decoration: none;
  text-transform: uppercase;
}
a:visited {
  color: blue;
}
a:active {
  color: brown;
}

/* Task 2 */
button:hover {
  background-color: chartreuse;
  color: white;
}

/* Task 3 */
p:first-letter {
  color: brown;
}
/* Task 4 */
h2 + p::first-line {
  color: blueviolet;
}